{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <div class="card-header">
            <h4><b>Datos del Ticket</b></h4>
        </div>
        <div class="card-body">
            <form action="{% url 'project:UpdateTicket' instance.id %}" method="POST"  enctype="multipart/form-data">
                {{ updateTicketForm|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-3 float-right">Modificar Ticket</button>
                    <a class="btn btn-primary float-left mt-3" href="{% url 'project:Tickets' %}">Regresar</a>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}