<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Administración de Proyectos</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link href="{% static 'css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/font-awesome-old/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/material-design-iconic-font/css/materialdesignicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/themify-icons/css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons/avasta/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'js/vendor/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/vendor/aos/css/aos.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/vendor/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'js/vendor/metismenu/css/metisMenu.min.css' %}" rel="stylesheet">
</head>

<body>
    <!--******************* Preloader start ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--******************* Preloader end ********************-->

    <!--********************************** Main wrapper start ***********************************-->
    <div id="main-wrapper">
        <!--********************************** Nav header start ***********************************-->
        <div class="nav-header">
            <a href="{% url 'core:index' %}" class="brand-logo">
                <img class="logo-abbr" src="{% static 'images/logo.png' %}" alt="">
                <img class="logo-compact" src="{% static 'images/logo-text.png' %}" alt="">
                <img class="brand-title" src="{% static 'images/logo-text.png' %}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--********************************** Nav header end ***********************************-->

        <!--********************************** Header start ***********************************-->
        
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        {% if user.is_authenticated %}
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <strong>Usuario conectado: {{ user.username }}</strong>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                        <a href="{% url 'logout' %}" class="dropdown-item">
                                            <i class="icon-key"></i>
                                            <span class="ml-2">Logout</span>
                                        </a>
                        {% else %}
                                        <a href="{% url 'login' %}" class="dropdown-item">
                                            <i class="icon-user"></i>
                                            <span class="ml-2">Login</span>
                                        </a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <!--********************************** Header end ti-comment-alt ***********************************-->

        <!--********************************** Sidebar start ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Menú Principal</li>
                    <!-- Dashboard -->
                    <li>
                        <a href="{% url 'core:index' %}" aria-expanded="false">
                        <i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <!-- Compañías -->
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'core:Clients' %}" aria-expanded="false">
                        <i class="icon icon-world-2"></i><span class="nav-text">Compañías</span></a>
                    </li>
                    <!-- Proyectos -->
                    <li><a class="has-arrow" aria-expanded="false">
                            <i class="icon icon-app-store"></i><span class="nav-text">Proyectos</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'project:Projects' %}">Proyectos</a></li>
                            <li><a href="{% url 'project:Stories' %}">Historias de Usuario</a></li>
                            <li><a href="{% url 'project:Tickets' %}">Tickets</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--********************************** Sidebar end ***********************************-->

        <!--********************************** Content body start ***********************************-->
        <div class="content-body">
            {% block content %}
            {% endblock content %}
        </div>
        <!--**********************************  Content body end ***********************************-->

        <!--********************************** Footer start ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © <a href="#" target="_blank">Quixkit</a> {% now "DATE_FORMAT" %}</p>
            </div>
        </div>
        <!--********************************** Footer end ***********************************-->
    </div>
    <!--********************************** Main wrapper end ***********************************-->

    <!--********************************** Scripts ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'js/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'js/quixnav-init.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!-- Vectormap -->
    <script src="{% static 'js/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'js/vendor/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/vendor/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/gaugeJS/dist/gauge.min.js' %}"></script>
    <!--  flot-chart js -->
    <script src="{% static 'js/vendor/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/vendor/flot/jquery.flot.resize.js' %}"></script>
    <!-- Owl Carousel -->
    <script src="{% static 'js/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <!-- Counter Up -->
    <script src="{% static 'js/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'js/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "Felicitaciones",
                    "text": "{{m}}",
                    "icon": "success"
                })
            </script>
        {% endfor %}
    {% endif %}

    {% block extrajs %}
    {% endblock extrajs %}
</body>
</html>